/* CARD FLIP STYLES (INCLUDING IE FALLBACKS) */
/* ////////////////////////////////// */

/* ==== STYLES FOR QUESTION CARD ==== */

.flip-container {
	perspective: 900px;
	position: relative;
	width: 100%;
}

#homepage-flipcard, #homepage-openingHours {
	height: 100%;
	position: absolute;
	transform-origin: right center;
	transform-style: preserve-3d;
	transition: transform 0.4s;
	width: 100%;
}

#homepage-flipcard.flipped, #homepage-openingHours.flipped {
    transform: translateX( -100% ) rotateY( -180deg );
}

#homepage-flipcard div, #homepage-openingHours div, #onesearch div {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	display: block;
	font-size: 1em;
	position: absolute;
	width: 100%;
}

#homepage-flipcard div h3, #homepage-openingHours div h3 {
    line-height: 1;
    display: inline-block;
}
#homepage-flipcard div p, #homepage-openingHours div p { font-weight: normal; }

#homepage-flipcard .back, #homepage-openingHours .timerBack {
	height: 285px;
	transform: rotateY( 180deg );
/*    z-index: 0;*/
}

#homepage-flipcard .front {
/*    z-index: 10;*/
}

.front, .back{
	text-align:center;
	padding:1em;
	background:#333;
	color:#fff;
	height: 285px; 
}

.back a:link, .back a:visited{
	color:#fff;	
}
.front {
	background-image:url(../img/flipcard/snakeDog-front.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

.back{
	background-image:url(../img/flipcard/snakeDog-back.jpg);
	background-repeat:no-repeat;
	background-size: cover;
/*	background-position:30px 90px;*/
}

#homepage-flipcard-flip {
	padding:0;
	margin:4em 0 0 0;
    cursor: pointer;
}

#homepage-flipcard-unflip {
	padding:0;
	margin:4em 0 0 0;
    cursor: pointer;
}

/* === STYLES FOR TIMER PANEL === */

#homepage-openingHours .timerFront {
/*    z-index: 10;*/
    background: #eee;
}

.timerFront, .timerBack{
	height: 285px;
    background: #ccc;
}

/* === STYLES FOR ONESEARCH FORM === */

.flip-onesearch-container {
	perspective: 1200px;
	position: relative;
	width: 100%;
    height: 285px;
}

#onesearch {
	height: 100%;
	position: relative;
	transform-origin: center center;
	transform-style: preserve-3d;
	transition: transform 0.6s;
	width: 100%;
}

#onesearch.flipped {
    transform: rotateX( 180deg );
}


/* ///////////////////////////////////////////////////////////////////////////// */

/* CSS target for switching search panel behaviour */
#homepage-openingHours-unflip, #homepage-openingHours-flip, #search-web, #search-lib {
    cursor: pointer;
    color: blue;
}

/* fallback behaviour for IE browsers that do not support 3D transform */
.no-preserve3d #homepage-flipcard.flipped,
.no-csstransforms3d #homepage-flipcard.flipped,
.no-preserve3d #homepage-flipcard.flipped .back,
.no-csstransforms3d #homepage-flipcard.flipped .back,
.no-preserve3d #onesearch.flipped,
.no-csstransforms3d #onesearch.flipped,
.no-preserve3d #onesearch.flipped .back-search,
.no-csstransforms3d #onesearch.flipped .back-search,
.no-preserve3d #homepage-openingHours.flipped,
.no-csstransforms3d #homepage-openingHours.flipped,
.no-preserve3d #homepage-openingHours.flipped .timerBack,
.no-csstransforms3d #homepage-openingHours.flipped .timerBack {
    transform: none;
}

/* ensure the back card shows in IE8/9 when toggle clicked */
.no-csstransforms3d #homepage-flipcard.flipped .back,
.no-csstransforms3d #onesearch.flipped .back-search,
.no-csstransforms3d #homepage-openingHours.flipped .timerBack {
    display: block;
}

/* make the front car visible when page loads in IE8/9 */
.no-csstransforms3d #homepage-flipcard .front,
.no-csstransforms3d #onesearch .front-search,
.no-csstransforms3d #homepage-openingHours .timerFront  {
    display: block;
}

/* Swap out visiblity of front card so back card is visible in IE8/9 */
.no-preserve3d #homepage-flipcard.flipped .front,
.no-csstransforms3d #homepage-flipcard.flipped .front,
.no-preserve3d #onesearch.flipped .front-search,
.no-csstransforms3d #onesearch.flipped .front-search,
.no-preserve3d #homepage-openingHours.flipped .timerFront,
.no-csstransforms3d #homepage-openingHours.flipped .timerFront {
    display: none;
}
