/* CARD FLIP STYLES (INCLUDING IE FALLBACKS) */
/* ////////////////////////////////// */

/* ==== STYLES FOR QUESTION CARD ==== */
/*Corin's customised inline styles from homepage*/
#homepage-flipcard-2 { position:relative; }
#homepage-flipcard-2 div p{ background: rgba(0, 0, 0, 0.6); position: absolute; bottom: 0;margin:0;padding: 5px;text-align: left;width: 100%;left: 0;}
img#homepage-flipcard-unflip-2 { margin-top:90px; }
img#homepage-flipcard-flip-2 { margin-top:90px; }

    /*code for hiding spans in flipcard for GTM registration*/
    .home .flip-container #homepage-flipcard-2 span.flipped, span.unflipped { display: none; }

.flip-container {
	perspective: 900px;
	position: relative;
	width: 100%;
}

#homepage-flipcard-1, #homepage-flipcard-2, #homepage-openingHours {
	height: 100%;
	position: absolute;
	transform-origin: right center;
	transform-style: preserve-3d;
	transition: transform 0.4s;
	width: 100%;
}

#homepage-flipcard-1.flipped, #homepage-flipcard-2.flipped, #homepage-openingHours.flipped {
    transform: translateX( -100% ) rotateY( -180deg );
}

#homepage-flipcard-1 div, #homepage-flipcard-2 div, #homepage-openingHours div, #onesearch div {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	display: block;
	font-size: 1em;
	position: absolute;
	width: 100%;
}

#homepage-flipcard-1 div h3, #homepage-flipcard-2 div h3, #homepage-openingHours div h3 {
    line-height: 1;
    display: inline-block;
}
#homepage-flipcard-1 div h3 { color: #fff; }
#homepage-flipcard-1 div p, #homepage-flipcard-2 div p, #homepage-openingHours div p { font-weight: normal; }

#homepage-flipcard-1 .back, #homepage-flipcard-2 .back, #homepage-openingHours .timerBack {
	height: 285px;
	transform: rotateY( 180deg );
}

.front, .back{
	text-align:center;
	padding:1em;
	color:#fff;
	height: 285px; 
}

.back a:link, .back a:visited{
	color:#fff;	
}
#homepage-flipcard-1 .front {
	background:teal;
}
#homepage-flipcard-1 .back{
	background-color:teal;
	background-image:url(http://www.slq.qld.gov.au/__data/assets/image/0010/346492/cuneiform-tablet.png);
	background-repeat:no-repeat;
	background-size:80%;
	background-position:30px 90px;
}
#homepage-flipcard-2 .front {
	background-image:url(http://www.slq.qld.gov.au/__data/assets/image/0008/346166/snakeDog-front.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

#homepage-flipcard-2 .back{
	background-image:url(http://www.slq.qld.gov.au/__data/assets/image/0009/346167/snakeDog-back.jpg);
	background-repeat:no-repeat;
	background-size: cover;
}

#homepage-flipcard-flip-1, #homepage-flipcard-flip-2 {
	padding:0;
	margin:4em 0 0 0;
    cursor: pointer;
}

#homepage-flipcard-flip-1 {
    margin:2em 0 0 0;
}

#homepage-flipcard-unflip-1, #homepage-flipcard-unflip-2 {
	padding:0;
	margin:4em 0 0 0;
    cursor: pointer;
}
#homepage-flipcard-1 svg, #homepage-flipcard-2 svg {
    margin:4em 0 0 0;
    width: 100%;
}
#homepage-flipcard-1 svg img, #homepage-flipcard-2 svg img {
    text-align: center;
    margin: auto 0;
}

/* === STYLES FOR TIMER PANEL === */

#homepage-openingHours .timerFront {
    background: #eee;
}

.timerFront, .timerBack{
	height: 285px;
    background: #ccc;
}

/* === STYLES FOR ONESEARCH FORM === */

.flip-onesearch-container {
	perspective: 1200px;
	position: relative;
	width: 100%;
    height: 285px;
}

#onesearch {
	height: 100%;
	position: relative;
	transform-origin: center center;
	transform-style: preserve-3d;
	transition: transform 0.6s;
	width: 100%;
}

#onesearch.flipped {
    transform: rotateX( 180deg );
}


/* ///////////////////////////////////////////////////////////////////////////// */

/* CSS target for switching search panel behaviour */
#homepage-openingHours-unflip, #homepage-openingHours-flip, #search-web, #search-lib {
    cursor: pointer;
    color: blue;
}

/* fallback behaviour for IE browsers that do not support 3D transform */
.no-preserve3d #homepage-flipcard-1.flipped,
.no-csstransforms3d #homepage-flipcard-1.flipped,
.no-preserve3d #homepage-flipcard-1.flipped .back,
.no-csstransforms3d #homepage-flipcard-1.flipped .back,
.no-preserve3d #homepage-flipcard-2.flipped,
.no-csstransforms3d #homepage-flipcard-2.flipped,
.no-preserve3d #homepage-flipcard-2.flipped .back,
.no-csstransforms3d #homepage-flipcard-2.flipped .back,
.no-preserve3d #onesearch.flipped,
.no-csstransforms3d #onesearch.flipped,
.no-preserve3d #onesearch.flipped .back-search,
.no-csstransforms3d #onesearch.flipped .back-search,
.no-preserve3d #homepage-openingHours.flipped,
.no-csstransforms3d #homepage-openingHours.flipped,
.no-preserve3d #homepage-openingHours.flipped .timerBack,
.no-csstransforms3d #homepage-openingHours.flipped .timerBack {
    transform: none;
}

/* ensure the back card shows in IE8/9 when toggle clicked */
.no-csstransforms3d #homepage-flipcard-1.flipped .back,
.no-csstransforms3d #homepage-flipcard-2.flipped .back,
.no-csstransforms3d #onesearch.flipped .back-search,
.no-csstransforms3d #homepage-openingHours.flipped .timerBack {
    display: block;
}

/* make the front card visible when page loads in IE8/9 */
.no-csstransforms3d #homepage-flipcard-1 .front,
.no-csstransforms3d #homepage-flipcard-2 .front,
.no-csstransforms3d #onesearch .front-search,
.no-csstransforms3d #homepage-openingHours .timerFront  {
    display: block;
}

/* Swap out visiblity of front card so back card is visible in IE8/9 */
.no-preserve3d #homepage-flipcard-1.flipped .front,
.no-csstransforms3d #homepage-flipcard-1.flipped .front,
.no-preserve3d #homepage-flipcard-2.flipped .front,
.no-csstransforms3d #homepage-flipcard-2.flipped .front,
.no-preserve3d #onesearch.flipped .front-search,
.no-csstransforms3d #onesearch.flipped .front-search,
.no-preserve3d #homepage-openingHours.flipped .timerFront,
.no-csstransforms3d #homepage-openingHours.flipped .timerFront {
    display: none;
}
