/* CARD FLIP FIXES FOR IE8 - IE9 */
/* ////////////////////////////////// */

#card .back, #homepage-openingHours .timerBack { z-index: 0; }
#card .front { z-index: 10; }
#homepage-openingHours .timerFront { z-index: 10; }
#onesearch .back-search { z-index: 0; }
#onesearch .front-search { z-index: 10; }
