/*Will start combining CSS in prep for moving to Squiz Matrix environment*/

* { box-sizing: border-box; }

/* GRID FRAMEWORK */
/* ///////////////////////////////// */

/* force scroll bar */
html { overflow-y: scroll; }

/* ---- grid ---- */

.grid-item .grid-content {
    height: 285px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  padding: 5px;
}

.grid-content {
    padding: 0;
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
  background: #C90;
  z-index: 2;
}

.packery-drop-placeholder {
  outline: 3px dashed #444;
  outline-offset: -6px;
  /* transition position changing */
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}

.gutter-sizer { width: 1%; }

/* Inline homepage styles from Corin */
.grid h3 { padding-bottom:0; } /*fixing H3s weird spacing in .grid*/
    body.desktop.home .homepage2016 {
    clear: both;
    margin-left: -10px;
    margin-right: -10px;
    }

    body.tablet.home .homepage2016 {
        margin-left: -10px;
        margin-right: -10px;
    }

.content .grid table { background: transparent; }
.grid ul { list-style-position: inside; }
body.mobile.home .grid-content { background-color:#171717; }

@media (max-width: 767px) {/*Wait what? I thought we weren't doing media queries now?*/
  .homepage2016 {
      /*width: 340px;*/
  }
}

/* mobile fix to flush grid columns to header and footer */
body.mobile.home .grid-item { padding: 5px 0px; }
