/* ======================================= */
/* Combine all custom homepage CSS */
/* ======================================= */

    /* Over rides for SLQ globals.css */
    .home #content { background: #fff; padding: 0; }
    .content { width: auto; }
    body.mobile.home #content { padding: 0; background:none; }
    body.tablet.home #content { background:none; padding: 0; }

    p { line-height: normal; }
    a:link, a:visited { text-decoration:underline; }
    a:link {color:blue;}
    a:visited { color:purple; }

/* TYPOGRAPHY STYLES */
/* ////////////////////////////////// */

/*CE this is lame*/
h3{font-size:200%}


/* RANDOM CUSTOM STYLES (YET TO BE SORTED) */
/* ////////////////////////////////// */

.aRight { float: right; }
.tile-title-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
