/* WHATS ON SLIDER (FLICKITY) */
/* ////////////////////////////////// */

/*Corin's customised inline styles from homepage*/
    body.mobile.home #homepage-whatsOn .wideTitle h3 img{max-width:260px;}
    body.mobile.home #homepage-whatsOn .blockTitle h3 img{max-height:100px;}
    body.tablet.home #homepage-whatsOn .wideTitle h3 img{max-width:300px;}
    body.tablet.home #homepage-whatsOn .blockTitle h3 img{max-height:100px;}
    body.desktop.home #homepage-whatsOn .wideTitle h3 img{max-width:460px;}
    body.desktop.home #homepage-whatsOn .blockTitle h3 img{max-height:120px;}
    body.desktop.home #homepage-whatsOn .wideTitle{padding:20px;}
    body.desktop.home #homepage-whatsOn .blockTitle{padding:20px;}
    #homepage-whatsOn .homepage-whatsOn-moreInfoLinks p{display:inline;margin-right:10px;}
    /*body.desktop.home #homepage-whatsOn .homepage-whatsOn-moreInfoLinks p{display:inline;margin-right:10px;}
    body.tablet.home #homepage-whatsOn .homepage-whatsOn-moreInfoLinks p{display:inline;margin-right:10px;}
    body.mobile.home #homepage-whatsOn .homepage-whatsOn-moreInfoLinks p{display:inline;margin-right:10px;}*/
    #homepage-whatsOn .darkBackground{color:#fff;background:#000;}
    #homepage-whatsOn .darkBackground a{color:#fff;text-decoration:underline}
    #homepage-whatsOn .lightBackground{color:#000;background:#fff;}
    #homepage-whatsOn .coverBackground {background-size:cover;}

    body.mobile.home img.homepage-whatsOn-supportersLogos{float:right;width:40px;
        float: right;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    body.tablet.home img.homepage-whatsOn-supportersLogos{float:right;width:50px;}
    body.desktop.home img.homepage-whatsOn-supportersLogos{float:right;width:60px;}

#homepage-whatsOn .main-gallery {
    overflow: hidden;
    height: 285px;
}
#homepage-whatsOn .gallery-cell {
  margin:0;
  padding:0;
    width: 100%;
   height: 285px;
}
/* What's on gallery tiles */
#homepage-whatsOn .gallery-cell > div {
    height: 285px;
    padding: 15px;
}
#homepage-whatsOn .gallery-cell a:link, #homepage-whatsOn .gallery-cell a:visited {
    color:#fff;
}

/* reposition slider cell dots to overlay on slider */
#homepage-whatsOn .flickity-page-dots {
    bottom: 5px;
}

#homepage-whatsOn .flickity-page-dots .dot {
    border: solid 1px #fff;
}
