/* BLOG JSON FEED PANEL STYLES */
/* ////////////////////////////////// */

#homepage-blogfeed {
    position: relative;
    background: purple;
}
#wp-post-image {
    width: 100%;
    background-size: cover;
    height: 285px;
    position: absolute;
    z-index: 5;
    opacity: 0.3;
}
#wp-post-content {
    z-index: 10;
    color: white;
    opacity: 1;
    padding: 0px 10px;
    position: relative;
}
#wp-post-content a {
    color: white;
}
