/* OPENING HOURS PANEL */
/* ////////////////////////////////// */

#countdown strong { 
    color: #4f94e2; 
    background: url(../img/wavy-underline.svg) repeat-x left bottom; 
    padding-bottom: 15px; 
    background-size: 15px 20px;
}
